/* zentrieren der Felder */
.button-container {
  position: absolute;
  top: 20%;                 /* statt bottom */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 20;
}



.btn {
   display: inline-block;
   padding: 10px 20px;
   font-size: 16px;
   font-family: 'Josefin Sans', sans-serif;
   letter-spacing: 1.8px;
   color: rgb(250, 249, 249);
   background-color: #040404;
    border: 1px solid var(--main-color);
   border-radius: 18px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   opacity: .95;
   width:200px;
   max-width: 100%;
   box-sizing: border-box;
  }
  .btn:hover,
  .btn:focus {
   
   text-decoration: none;
   cursor: pointer;
  }

  /* Stil für das modale Fenster */
  .modal {
   display: none;
   position: fixed;
   z-index: 50;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   height: 100%;
   max-width: 480px;
   overflow: auto;
   background-color: transparent;
   padding-top: 60px;
  }

  .modal-content {
   background-color: #918484;
   opacity: .95;
   margin: 15% 13.2%;
   padding: 20px;
   border: 5px solid #5c5c5c;
   border-radius: 20px;
   width: 80%;
   text-align: center;
   font-family: 'Josefin Sans', sans-serif;
  }

  .close {
   color: #ffd700;
   float: right;
   font-size: 58px;
   font-weight:lighter;
  }

  .close:hover,
  .close:focus {
   color: lightgrey;
   text-decoration: none;
   cursor: pointer;
  }


  /* Datneschutz Impressum btn */
.text-rights{
  text-align: center;
  background-color: #cec9c9;
  border-radius: 10px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.impr-top{
 position: -webkit-sticky;
 position: sticky;
 top:0;
 display: flex;
 justify-content: center;
 margin-bottom: 1em;
}

/* Info Button */
.hidden { display: none; }

.info-btn {
  margin-top: 15px;
  padding: 10px 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  background-color: black;
  border: 1px solid var(--main-color);
  
  cursor: pointer;
  color: white;
  
}

.info-btn:hover {
  background-color: black;
  /* border:2px solid  var(--main-color); */
  color: white
}

/* Slide-Down / Slide-Up */

.info-full {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.4s ease;
}

/* Wenn geöffnet */
.info-full.open {
  opacity: 1;
}

/* Sticky-Floating Button */
.info-btn.sticky-close {
  position: fixed;          /* bleibt unten am Screen kleben */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* Wenn Ende erreicht → NICHT mehr sticky */
.info-btn.freeze {
  position: static !important; /* wieder im normalen Flow */
  transform: none;
  margin-top: 20px;
}

